services:
    server:
        build:
            context: ./server/eBilety API
            dockerfile: Dockerfile
        ports:
            - '8080:80'
            - '7180:7180'
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__DevConnection=Server=db;Database=master;User=sa;Password=${DB_PASSWORD};TrustServerCertificate=True;
        depends_on:
            - db

    db:
        image: 'mcr.microsoft.com/mssql/server:2022-latest'
        ports:
            - '1433:1433'

        environment:
            SA_PASSWORD: ${DB_PASSWORD}
            ACCEPT_EULA: 'Y'

    client:
        build:
            context: ./client/
            dockerfile: Dockerfile
        ports:
            - '80:80'
        depends_on:
            - server
